<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <style></style>
</head>
<body>
    <div class="contact-card">
        <h2>Contact Us</h2>
        <div class="info">
            <strong>Phone:</strong>+91 9875462611
        </div>
        <div class="info">
            <strong>Email</strong>restaurant@gmail.com
        </div>
        <div class="info">
            <strong>Address:</strong> ABC Colony 
        </div>
    </div>
</body>
</html>